<header>
    <ul>
    <!-- both -->
      <li><a href="/">Home</a></li>
      <li><a href="/hello">Hello</a></li>
      <li><a href="/awesomethings">Awesome Things</a></li>
      <% if (user) { %>
        <li><a href="/pizza">Pizza</a></li>
        <li><a href="/chickennuggets">Chicken Nuggets</a></li>
        <li><a href="/user/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/user/login">Login</a></li>
        <li><a href="/user/new">Register</a></li>
      <% } %>
    <!-- logged in -->

    <!-- logged out -->

    </ul>
  </header>
